/*公共部分*/
* {
	padding: 0;
	margin: 0;
	font-family: Microsoft Yahei !important;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body,html {
	height: 100%;
}
body {
	width: 7.5rem;
	margin: 0 auto;
	font-size: 0.26rem;
}
a,
input,
button,
img,
textarea {
	outline: none;
}
.clear{
	clear: both;
}