body{
	background:#FAFAFA;
}
/*start 我的订单*/
.top{
	width: 7.5rem;
	padding:0.2rem 0;
	border-bottom: 1px solid #F5F5DC;
	background: #fff;
}
.top img{
	width: 0.5rem;
	vertical-align: middle;
	padding-left: 0.2rem;
}
.center{
	font-size: 0.35rem;
	vertical-align: middle;
	margin-left: 2.0rem;
}
.top a{
	float: right;
	color: #007AFF;
	font-size: 0.3rem;
	margin-top: 0.05rem;
	padding-right:0.2rem;
}
.top a:after{
	content: '';
	display: block;
	clear: both;
}
/*start 个人信息*/
.info{
	padding: 0.2rem;
	background: #fff;
	padding-bottom: 0.3rem;
}
.info-img{
	width: 1.5rem;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.info-img img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}
.info-img p{
    width: 0.9rem;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 5px;
    position: absolute;
    left: 0.3rem;
    top: 1.3rem;
    background: mediumorchid;
    color: #fff;
}
.infos{
	display: inline-block;
	vertical-align: middle;
	width: 5.2rem;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
}
.infos li{
	padding-bottom: 0.1rem;
}
.infos li:first-child{
	border-bottom: 1px solid #F5F5DC;
}
.infos li:nth-of-type(2n){
	padding-top: 0.1rem;
}
.infos li:after,.level li:after{
	content: '';
	display: block;
	clear: both;
}
.left{
	float: left;
	color: grey;
}
.right{
	float: right;
	color: grey;
}
.left span,.right span{
	color: #000;
}
/*start 用户信息*/
.one{
	background: #fff;
	width:6.6rem;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 0.2rem;
	padding: 0.2rem;
}
.grade{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.grade img{
	width: 1.0rem;
	height: 1.0rem;
	border-radius: 50%;
}
.grade p{
	width: 0.7rem;
    text-align: center;
    height: 0.38rem;
    line-height: 0.38rem;
    border-radius: 5px;
    position: absolute;
    left: 0.15rem;
    top: 0.8rem;
    background: #007AFF;
    color: #fff;
    font-size: 0.24rem !important;
}
.level{
	width: 4.5rem;
	margin-left: 0.3rem;
	display: inline-block;
	vertical-align: middle;
}
.level li p{
	padding-bottom: 0.1rem;
}
.pu{
	background: #2AC845 !important;
}
