html, body {
    position: relative;
    height: 100%;
}
body {
  	position: relative;
	background-color: #efefef;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
/*轮播*/
 .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.carousel {
	width: 7.5rem;
	position: relative;
}
.carousel .carousel-inner .item {
	width: 100%!important;
}
.carousel .carousel-inner .item img{
	width: 7.5rem;
	height: 3.2rem;
}
.carousel .head {
	width: 7.5rem;
	position: fixed;
	padding: 0.2rem 0.3rem;
	top: 0.3rem;
	text-align: center;
	z-index: 10;
}
.carousel .head li:first-child {
	float:left;
}
.carousel .head li:first-child img {
	width: 0.4rem;
	height: 0.4rem;
}
.carousel .head li:last-child {
	float:right;
}
.carousel .head li:last-child img {
	width: 0.4rem;
	height: 0.4rem;
}
.carousel .head li p{
	font-family: NotoSansCJKsc;
	font-size: 0.18rem;
	color: #fffefe;
}
.carousel .head .sousuo{
	position: relative;
	width: 5.24rem;
	height: 0.66rem;
	-webkit-border-radius: 0.1rem;
	-moz-border-radius:0.1rem;
	border-radius: 0.1rem;
	background-color: rgba(255,255,255,0.7);
	-webkit-box-shadow: 0 0 13px rgba(252,146,125,.75);
	-moz-box-shadow: 0 0 13px rgba(252,146,125,.75);
	box-shadow: 0 0 13px rgba(252,146,125,.75);
	display: inline-block;
}
.carousel .head .sousuo .ss{
	width: 5.24rem;
	height: 0.66rem;
	-webkit-border-radius: 0.1rem;
	-moz-border-radius:0.1rem;
	border-radius: 0.1rem;	
	-webkit-box-shadow: 0 0 13px rgba(252,146,125,.75);
	-moz-box-shadow: 0 0 13px rgba(252,146,125,.75);
	box-shadow: 0 0 13px rgba(252,146,125,.75);	
	position: absolute;
	top: 0;
	line-height: 0.66rem;
}
.carousel .head .sousuo .ss img {
	width: 0.5rem;
    height: 0.5rem;
	margin-right: 0.17rem;
}
.carousel .head .sousuo .ss input{
	width: 2rem;
	background: none;
	border: none;
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #fff;
	outline: none;
}

.carousel .head .sousuo .ss input::-webkit-input-placeholder { 
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #fff;
} 
.carousel .head .sousuo .ss input:-moz-placeholder { 
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #fff; 
} 
.carousel .head .sousuo .ss input::-moz-placeholder { 
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #fff;
} 
.carousel .head .sousuo .ss input:-ms-input-placeholder{ 
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #fff;
} 


/*内容*/
.content {
	width: 7.5rem;
}
.content ul {
	background-color: #fff;
	margin: 0.3rem 0;
	padding: 0.2rem 0;
}
.content ul li{
	text-align: center;
	
}
.content ul li img {
	width: 1.4rem;
	height: 1.4rem;
	margin-bottom: 0.1rem;
}
.content ul li p{
	font-family: NotoSansCJKsc;
	font-size: 0.24rem;
	color: #333;
	padding-top: 0.1rem;
}
/*限时惠购*/
.content .change {
	background-color: #fff;
}
.content .change ul{
	margin: 0;
	padding: 0;
}
.content .change .hg .hg-head li{
	padding: 0.1rem;
}
.content .change .hg .hg-head li:first-child{
	font-family: JLinXin;
	font-size: 0.32rem;
	color: #f7594e;
}
.content .change .hg .hg-head .hg-head1 span{
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #666;
}
.content .change .hg .hg-head li:last-child{
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #f7594e;
}
.content .change .hg .hg-head li:last-child img {
	width: 0.26rem;
	height: 0.26rem;
}
.content .shouji img{
	margin: 0.2rem 0;
	width: 7.5rem;
	height: 1.38rem;
}
.content .shouji1{
	width: 7.5rem;
	background-color: #FFF;
	display: inline-block;
}
.content .shouji1 .daohang span {
	padding: 0.1rem 0;
	font-family: NotoSansCJKsc;
	font-size: 0.34rem;
	color: #333
}
.content .shouji1 .daohang {
	height: 0.68rem;
}
.content .shouji1 .daohang .dian {
	
	height: 0.68rem;
}
.content .shouji1 .daohang .dian ul{
	float: right;
	margin: 0;
	padding: 0;
}
.content .shouji1 .daohang .dian ul li{
	border-radius: 0.05rem;
	width:0.1rem;
	height: 0.1rem;
	background-color: #858585;
	margin: 0.1rem 0;
	padding: 0;
}
.content .shouji1 ul {
	margin:0 ;
	padding: 0;
}
.content .shouji1  ul li{
	padding: 0.2rem;
}
/*.content .shouji1  ul li p{
	text-align: left;
	padding: 0;
}*/
.content .shouji1 .daohang1 {
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	
}
.content .shouji1 .daohang1 li{
	text-align: left;
	padding: 0;
	text-align: center;
}
.content .shouji1 .daohang1 li .red{
	color: red;
}
.content .shouji1 .daohang1 li .red span{
	color: black;
}
.content .shouji1 .daohang2 li .red{
	color: red;
}
.content .shouji1 .daohang2 li .red span{
	color: black;
}
.content .shouji1 .daohang1 li:first-child{
	border-right: 1px solid #f4f4f4;
}
.content .shouji1 .daohang2 {
	border-bottom: 1px solid #f4f4f4;
}
.content .shouji1 .daohang2 li{
	border-right: 1px solid #f4f4f4;	
}
/*.content .shouji1 .daohang2 li img{
	margin-left: 0.3rem;
}*/
/**/
.content .shouji1 .think li img{
	padding-top: 0.2rem;
}
/**/
.content .jingxuan {
	width: 7.5rem;
	text-align: center;
}
.content .jingxuan img{
	width: 0.4rem;
	height: 0.4rem;
	margin-top: -0.15rem;
}
.content .jingxuan span{
	font-family: NotoSansCJKsc;
	font-size: 0.34rem;
	color: #333;
	margin-left: 0.2rem;
}
/**/
.content .goods {
	margin-top: -0.15rem;
	background: none;
	margin-bottom: 1.6rem!important;
}
.content .goods .goods1{
	padding-top: 0.3rem;
	width: 48%;
	float: left;
	background-color: #fff;
	margin-right: 4%;
	margin-bottom: 0.2rem;
}
.content .goods .goods1 img{
	width: 3.54rem;
	height: 3.22rem;
}
.content .goods .goods1 p{
	margin-bottom: 0;
	padding: 0.05rem 0.2rem;
	font-family: NotoSansCJKsc;
	font-size: 0.24rem;
	color: #333;
	text-overflow: ellipsis;
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 2; /** 显示的行数 **/
	overflow: hidden;   
}
.content .goods .goods1 .down{
	padding: 0;
	height: 0.6rem;
}
.content .goods .goods1 .down p{
	font-family: NotoSansCJKsc;
	font-size: 0.3rem;
	color: #a41f24;
}
.content .goods .goods1 .down p span{
	font-family: NotoSansCJKsc;
	font-size: 0.24rem;
	color: #999;
}
.content .goods .goods1 .down .dian1{
	text-align: right;
	height: 0.6rem;
    line-height: 0.6rem;
    padding: 0;
}
.content .goods .goods1 .down .dian1 span{
	font-family: NotoSansCJKsc;
	font-size: 0.20rem;
	color: #999;
}
.content .goods .goods1 .down .dian1 .dian2{
	float: right;
	margin-right: 0.15rem;
	margin-left: 0.1rem;
}
.content .goods .goods1 .down .dian1 .dian2 span{
	width: 0.05rem;
	height: 0.05rem;
	display: inline-block;
	background-color: #E5E5E5;
	border-radius: 0.05rem;
}
.content .goods li:nth-of-type(2n){
	margin-right: 0;
}
