body{
	background-color: #F5F5F5;
}
.head {
	width: 7.5rem;
	position: relative;
	margin-bottom: 0.1rem;
}
.head img{
	width:7.5rem ;
	height: 4rem;
}
.head ul {
	width: 7.5rem;
	position:absolute;
	top:0.3rem;
}
.head ul .head1 {
	padding: 0.2rem 0.3rem;
	text-align: right;
}
.head ul .head1 img{
	width: 0.4rem;
	height: 0.4rem;
	margin-left: 0.1rem;
}
.head ul .info {
	text-align: left;
	height: 1rem;
	line-height: 1rem;
}
.head ul .info img{
	width: 1rem;
	height: 1rem;
	margin-right: 0.15rem;
}
.head ul .info span{
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #fff;
}
.head .money{
	width: 7.5rem;
	position: absolute;
	top: 2.96rem;
    background: rgba(225,255,255,0.3);
    padding: 0.1rem 0;
}
.head .money li{
	width: 33.33%;
	text-align: center;
	float: left;
	border-right:1px solid #fff;
}
.head .money li p{
	font-family: NotoSansCJKsc;
	font-size: 0.30rem;
	color: #fff;
	margin: 0;
}
.head .money li:last-child{
	border-right: none;
}

.zhangdan {
	width: 7.5rem;
	padding: 0;
	margin: 0.1rem 0;
	padding:0.1rem 0;
	background-color: #FFF;
}
.zhangdan .head {
	width: 7.5rem;
	padding: 0.1rem 0.3rem;
	border-bottom: 1px solid #e8e8e8;	
	margin-bottom: 0.2rem;
}
.zhangdan .head .left {
	padding: 0;
}
.zhangdan .head .left span{
	font-family: NotoSansCJKsc;
	font-size: 0.30rem;
	color: #333;
}
.zhangdan .head .left img{
	width:0.3rem ;
	height: 0.3rem;
	margin: -0.15rem 0.1rem 0 0;
}
.zhangdan .head .right{
	padding: 0;
	text-align: right;
}
.zhangdan .head .right img{
	width:0.2rem ;
	height: 0.4rem;
}
.zhangdan .con li{
	text-align: center;
}
.zhangdan .con li p:first-child{
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #a41f24;
	
}
.zhangdan .con li:last-child p {
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #999;
}
.zhangdan .con li:last-child p span{
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #a41f24;
}
.zhangdan .con li p:last-child{
	margin-bottom: 0;
	font-family: NotoSansCJKsc;
	font-size: 0.24rem;
	color: #999;
}
.zhangdan .con li img{
	width: 0.4rem;
	height: 0.4rem;
	margin-bottom: 0.15rem;
}
.more {
	width: 7.5rem;
	background-color: #fff;
	margin-top:0.2rem ;
	padding: 0.2rem 0;
	margin-bottom: 2rem;
}
.more li{
	margin-top:0.2rem ;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}
.more li:nth-of-type(3n+3){
	border-right: none;
}
.more li img{
	width: 0.5rem;
	height: 0.5rem;
	margin-bottom: 0.1rem;
}
.more li p{
	font-family: NotoSansCJKsc;
	font-size: 0.28rem;
	color: #333;
}
