/*start 顶部*/
.main-header{
	width: 100%;
	padding: 10px 0;
	background: #f1f1f1;
}
.left{
	float: left;
}
.right{
	float: right;
}
.right p{
	display: inline-block;
	margin-left: 15px;
}
.right p img{
	width: 20px;
}
.right span{
	vertical-align: middle;
}
.right a{
	color: #000;
}
.my-pay{
	margin-left: 15px;
	margin-right: 15px;
}
.login{
	color: #ee4242 !important;
}
.login span{
	border-right: 2px solid #000;
	padding-right: 10px;
}
.register{
	padding-left: 5px;
	color: #ee4242 !important;
}
.phone{
	color: #000 !important;
}
.search{
	padding: 50px 0 30px 0;
}
.logo a img{
	width: 10.0rem;
}
.logo2{
	margin-left: 5px;
	width:8.5rem !important;
}
.right p a:hover,.right a:hover{
	color: #ee4242 !important;
}
.txt-line{
	text-align: center;
}
.logo{
	display: inline-block;
	float: left;
}
.input-txt{
	width: 40%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	position: relative;
}
.input-txt input{
	width: 90%;
	height: 45px;
	line-height: 45px;
	border: none;
	border: 1.5px solid #163672;
	padding-left: 10px;
}
.input-txt button img{
	width: 2.5rem;
}
.input-txt button{
	background:#163672;
	width: 10%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border: none;
	position: absolute;
	left: 95%;
	top: 0;
}
.input_two{
	margin-top:10px;
	font-size: 12px !important;
}
.input_two b{
	margin-left: 3px;
	margin-right: 3px;
}
.input_two a{
	color: #000 !important;
}
.input_two a:hover,.page li a:hover{
	color: #ee4242 !important;
}
.car{
	display: inline-block;
	float: right;
	border: 1.5px solid #F5F5F5;
}
.car img{
	width: 30px;
	margin:7px;
}
.car span{
	background: #ddd;
	padding: 13px 15px 12px 15px;
	color: #fff;
	margin-top: 10px;
	vertical-align: middle;
	font-size: 16px;
	color: #000 !important;
}
/*start 导航*/
.nav-header{
	border-bottom: 2px solid #163672;
	
}
.glyphicon {
    color: #fff !important;
}
.shops{
	background: #163672;
	position: relative;
    zoom: 1;
    z-index: 10;
    width:12.0rem;
    color: #fff;
    border-bottom: 2px solid #163672;
    float: left;
}
.shops p{
	height: 45px;
	line-height: 45px;
	font-size: 15px !important;
	text-align: center;
}
.shops:hover .style{
	display: block;
}
.style{
	background: rgba(22,54,114,.9);
	width: 12.0rem;
	display: none;
	position: absolute;
	z-index: 9999;
	float: left;
}
.style li{
	text-align: center;
	height: 45px;
	line-height: 45px;
}
.style li a{
	font-size: 14px;
	color: #fff;
}
.active{
	background: #fff;
	border-left: 1px solid #F9F9F9;
	border-right: 1px solid #F9F9F9;
}
.active a{
	color: #000 !important;
}
.page{
	float: left;
}
.page li{
	float: left;
	width: 8.0rem;
	text-align: center;
	height: 45px;
	line-height: 45px;
	position: relative;
}
.page li a{
	color: #000;
}
.page li a img{
	width: 1.5rem;
}
.page li:hover .two_child{
	display: block;
	background: rgba(255,255,255,.8);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    border: solid 1px #dfdfdf;
}
.two_child{
	display: none;
	width: 8.0rem;
	background: #F0AD4E;
	position: absolute;
	left: 0;
	right: auto;
	top:45px;
	z-index: 9999;
}
.two_child li{
	text-align: center;
	height: 45px;
	line-height: 45px;
}
.two_child li a{
	color: #000;
}
/*start 商品详情*/
.shop_detail{
	padding-top: 20px;
	padding-bottom: 50px;
}
.shop_top img{
	width: 1.5rem;
	margin-top: -0.5rem;
}
.shop_top a{
	color: #000;
}
.help{
	padding-top: 20px;
}
.sideBox{
    height: auto !important;
    overflow: visible !important;
}
.box_left{
	margin-right: 8%;
	border: solid 1px #ddd;
}
.box_line{
    background: #f9f9f9;
    cursor: pointer;
    line-height: 36px;
    padding: 0 15px;
    border-bottom: dotted 1px #ddd;
    height: 36px;
    vertical-align: middle;
    position: relative;
}
.box_line img{
	width: 10px;
}
.box_line a{
	color: #000;
	vertical-align: middle;
	margin-left: 8%;
	font-weight: bold;
}
.box_line a:hover{
	color: #EE4242;
}
.col-sm-3,.col-sm-9{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.box_two{
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	display: none;
}
.box_two li{
    cursor: pointer;
    line-height: 36px;
    padding: 0 15px;
    height: 36px;
    vertical-align: middle;
    padding-left: 16%;
}
.box_two li a{
	color: #555;
}
.box_two li a:hover{
	color: #007AFF;
}
.rightBox{
	border: solid 1px #ddd;
    height: auto !important;
    overflow: visible !important;
}
.box_title{
    border-bottom: 1px dotted #ddd;
    line-height: 38px;
    padding-left: 30px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.input_txt{
	margin: 30px 30px 30px 10px;
}
.input_txt li{
	margin-bottom: 15px;
	font-size: 16px;
}
.input_txt li span{
	display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 30px;
}
.input_txt li input{
	width: 35%;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.input_title{
	width: 70% !important;
}
.input_txt textarea{
	resize: none;
	height: 165px;
	width: 70% !important;
	padding: 10px;
	font-size: 14px;
    font-family: '微软雅黑';
    vertical-align: top;
    border: none;
    border: 1px solid #e5e5e5;
}
.codes{
	width: 16%;
	height: 35px;
	cursor: pointer;
}
.a_submit{
	display: block;
	width: 20%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff !important;
	background: #949090;
	margin-left: 24.3%;
	transition: color .3s, background .3s;
}
.a_submit:hover{
	background: #4CAE4C;
}







/*start 底部*/
.foot{
	width: 100%;
	background: #eee;
	border-top: 1px solid #ddd;
	margin-top: 30px;
}
.foot a{
	color: #000;
	margin-right: 10px;
}
.foot a:hover{
	color: #ff0000;
}
.foot_left{
	float: left;
	width: 45%;
	padding-top: 15px;
}
.foot_left ul li{
	padding-bottom: 15px;
}
.foot_left ul li p{
	color: #999 !important;
	font-size: 12px;
	height: 1.8;
	line-height: 1.8;
}
.foot_left ul li p span{
	color: #000;
}
.website{
	display: block;
	margin-top: 15px;
}
.website img{
	text-align: left !important;
}
.icon_img{
	width: 1.5rem;
	margin-right: 5px;
}
.foot_center{
	width: 35%;
	float: left;
	color: #999;
	padding-top: 15px;
}
.foot_center ul li{
	line-height: 2.0;
}
.foot_right{
	float: right;
	background: #e65050;
	padding: 20px;
	color: #fff;
	text-align: center;
	width: 20%;
}
.foot_right img{
	width: 10.0rem;
	height: 10.0rem;
	margin-bottom: 20px;
}
.foot_right p{
	padding-bottom: 10px;
}